<!DOCTYPE html>
<html lang="en">
  <%- include ("includes/header") %>
  <body>
    <%- include ("includes/navbar") %>
    <div class="container mt-2">
      <h1>Posts</h1>
      <% posts.forEach((post) => { %>

      <div class="card p-3 mt-3">
        <h3><%= post.title %></h3>
        <small
          >Created on <%= new Date(post.created_at).toLocaleDateString('en-GB',
          { year: 'numeric', month: 'long', day: 'numeric' }) %> by <%=
          post.author %>
        </small>
        <p><%= post.body %></p>
        <a href="/post/<%= post.id %>" class="btn btn-primary">Read More</a>
      </div>

      <% }) %>
    </div>
  </body>
</html>
